.block-container {
    max-width: 600px;
    margin: auto;
    padding-top: 80px;
}

.main-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #262660;
    margin-bottom: 8px;
}

.sub-title {
    text-align: center;
    color: #666;
    font-size: 15px;
    margin-bottom: 15px;
}

.section-title {
    font-size: 22px;
    font-weight: bold;
    color: #262660;
    margin-bottom: 15px;
}

.line {
    height: 1px;
    background: #ddd;
    margin-bottom: 18px;
}

.stTextInput input {
    border-radius: 10px !important;
}

.stTextInput svg {
    width: 18px !important;
    height: 18px !important;
    color: #666 !important;
}

button[kind="primary"] {
    background: #f69322 !important;
    color: #262660 !important;
    border: none !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    height: 45px !important;
}
button[kind="primary"]:hover {
    background: #ffa53a !important;
    color: #262660 !important;
}
